# Base
PUID=1000
PGID=1000
TZ=America/Montreal
DOMAIN=example.com

# Cloudflare DDNS
CD_API_KEY=your_cloudflare_api_key

# Gluetun VPN
GT_VPN_SERVICE_PROVIDER=airvpn
GT_VPN_TYPE=wireguard
GT_WIREGUARD_PRIVATE_KEY=your_wireguard_private_key
GT_WIREGUARD_PRESHARED_KEY=your_wireguard_preshared_key
GT_WIREGUARD_ADDRESSES=10.0.0.2/32
GT_FIREWALL_VPN_INPUT_PORTS=51820
GT_VPN_PORT_FORWARDING_LISTENING_PORT=51820
GT_SERVER_COUNTRIES=Canada

# qBittorrent
QT_WEBUI_PORT=8081
QT_TORRENTING_PORT=51820

# FlareSolverr
FS_LOG_LEVEL=info
FS_LOG_HTML=false
FS_CAPTCHA_SOLVER=none

# Arr-Stalled-Handler
ARH_RADARR_API_KEY=your_radarr_api_key
ARH_SONARR_API_KEY=your_sonarr_api_key
ARH_STALLED_TIMEOUT=1800
ARH_STALLED_ACTION=BLOCKLIST_AND_SEARCH
ARH_VERBOSE=false
ARH_RUN_INTERVAL=300
ARH_COUNT_DOWNLOADING_METADATA_AS_STALLED=false
